@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');
body {
    font-family: 'Inconsolata', monospace;
    margin: 0;
    box-sizing: content-box;
}
#convertBox {
    background-color: black;
    color: white;
    max-width: 800px;
    min-height: 250px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Inconsolata', monospace;
}
#colorText, #inputColor, #convertButton {
    font-size: 26px;
    font-family: 'Inconsolata', monospace;
}
#inputColor {
    width: 200px;
    background-color: transparent;
    border: 2px solid white;
    outline: 0;
    color: white;
}
#convertButton {
    background-color: transparent;
    outline: 0;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}
#convertButton:hover {
    background-color: white;
    border-color: black;
    color: black;
}
#exportColor {
    font-size: 32px;
}
@media only screen and (max-width: 845px) {
    #convertBox {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}
@media only screen and (max-width: 320px) {
    #convertButton {
        margin-top: 10px;
    }
}